#mainDisplay {
    padding: 5px;
}

#characterSelect {
    display: flex;
    flex-direction: column;

    & > * {
        flex: 1 100%;
        padding: 5px;
        margin-top: 5px;
        font-weight: bold;
    }

    img {
        max-width: 250px;
        max-height: 250px;
        filter: brightness(0);
        display: block;
    }

    .mat-button-toggle-checked img {
        filter: brightness(1);
    }
}

@media all and (min-width: 600px) {
    #characterSelect {
        flex-flow: row wrap;
    
        & > * {
            flex: 1 auto;
        }
    }
}
