<div id="mainDisplay">
    <h1><a href="/">Disney Hide-N-Seek</a></h1>
    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Jump to selected letter">
        <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
        <span>Jump To:</span>
        <a href="#{{letter}}" mat-stroked-button *ngFor="let letter of letters">{{letter}}</a>
        <button mat-flat-button color="warn" (click)="openDialog()">Reset Selections</button>
    </mat-menu>
    <div>Select the character below once you find them in one of the parks. Your selection will be saved in the browser so that it stays with you all trip long.</div>
    <div id="characterSelect">
        <mat-button-toggle *ngFor="let character of character_list; index as i" [checked]="character.id" (click)="updateCharacter(character)">
            <div id="{{character.name[0]}}">{{character.name}}</div>
            <img src="{{character.image}}" *ngIf="character.image">
        </mat-button-toggle>
    </div>
</div>